name: Build and Deploy
#Ver2
on:
  push:
    branches: [ main ] 
  pull_request:
    branches: [ main ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Required to push to GHCR

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags) for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=sha,prefix={{branch}}-
          type=raw,value=latest,enable={{is_default_branch}}
           

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/amd64, linux/arm64
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type-gha
        cache-to: type-gha, mode-max

  deploy-to-server:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
    - name: Deploy to Server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.PORT }}
        script: |
          echo "Stopping and removing old container..."
          docker stop fastapitime-container || true
          docker rm fastapitime-container || true
          
          # Удаляем старый образ
          docker rmi ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest || true

          # Логинимся в GitHub Container Registry
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ${{ env.REGISTRY }} -u ${{ github.actor }} --passward-stdin
         
          # Скачиваем новый образ
          docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
         
          # Запускаем новый контейнер
          docker run -d \
            --name fastapitime-container \
            --restart unless-stopped \
            -p 8000:8000
            -e HOST=0.0.0.0 \
            -e PORT=8000 \
            -e DEBUG=False \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

          # Показываем статус контейнера
          docker ps | grep fastapitime-container

          # Очищаем неиспользуемые образы
          docker image prune  -f 

          

        
# GITHUB_TOKEN (automatically generated for push/write permissions)
# SSH_HOST, SSH_USER, SSH_PRIVATE_KEY (for deployment job)
